body {
  background: var(--background);
  color: var(--text-color);
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-size);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  margin-left: calc(var(--nav-width) + .5em);
  padding: 1em;
  flex: 1;
  transition: margin .3s ease;
}

.logo {
  z-index: 999;
  position: fixed;
  background: var(--orange-pink);
  top: 0;
  left: 0;
  width: var(--nav-width);
  max-width: 70px;
  box-shadow: var(--nav-shadow);
  transition: opacity .3s;
}

.sidenav {
  height: 100vh;
  min-height: 500px;
  overflow-x: visible;
  position: fixed;
  top: 0;
  left: 0;
  width: var(--nav-width);
  max-width: 70px;
  padding-top: var(--nav-width);
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  background: var(--nav-bg);
  box-shadow: var(--nav-shadow);
  z-index: 99;
  transition: left 0.3s ease;
}

.sidenav .item {
  margin-bottom: 20px;
  overflow-x: visible;
}

.item {
  width: var(--nav-width);
  max-width: 70px;
  height: var(--nav-width);
  max-height: 70px;
  background: var(--nav-bg);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;
}

.item i {
  font-size: 25px;
}

.item .item-label {
  font-size: 14px;
  padding-top: 8px;
}

.item img,
.item svg {
  width: 1.5em;
  height: 1.5em;
}

.item:hover {
  cursor: pointer;
  color: var(--orange-light);
}

.tag-sm {
  font-size: .7em;
  display: inline-block;
  letter-spacing: .15ch;
  font-weight: 400;
}

.tag {
  display: inline-block;
  border-radius: 3px;
  padding: .2em .5em .3em;
  border-radius: 2px;
  background: var(--tag-bg);
  color: var(--text-color);
  font-weight: 600;
  margin: .25em .1em;
}

/* footer */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  min-height: 250px;
  margin-top: 120px;
  font-size: .85em;
  opacity: .8;
}

.copyright {
  text-align: center;
  width: fit-content;
  margin: 0;
  padding: 0;
}

.copyright .copyright-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright img {
  width: 1em;
  height: 1em;
  display: inline-block;
  padding: 0 3px;
  margin-bottom: -5px;
}

.menu-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.menu-footer li:not(:last-child) {
  padding-right: 1em;
}

.menu-footer li a {
  font-size: .84em;
  color: var(--text-color);
}

.menu-footer li:hover a {
  color: var(--blue);
}

/* elements */
.hr {
  border: none;
  border-bottom: var(--h-border);
}

a {
  color: var(--blue);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-head);
  font-weight: 800;
  font-style: normal;
}

em,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--h-color);
}

/* padding */
.bc-pl-4 {
  padding-left: 4px;
}

/* border */
.border-bottom {
  border-bottom: var(--h-border);
}